
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <button *ngIf="isMobile" class="btn btn-outline-light btn-sm" (click)="toggleSidebar()">
            ☰
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="true">

          <ul class="navbar-nav">

            <li class="nav-item" ngbDropdown>
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                <i class="now-ui-icons users_single-02"></i>
                <p>
                  <span class="d-lg-none d-md-block">Account</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a class="dropdown-item" (click)="navigateToProfile()">Profile</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>
            </li>
          </ul>
        </div>
    </div>
</nav>
