<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="panel-header panel-header-sm"></div>

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-header">
                    <h4 class="card-title mb-2">Game match</h4>


                    <form [formGroup]="roundFormGroup">
                        <mat-form-field appearance="outline" style="width: 200px;">
                            <mat-label>Round</mat-label>
                            <mat-select formControlName="roundCtrl">
                                <mat-option *ngFor="let round of rounds" [value]="round">{{ round }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>


                    <div *ngIf="hasAdminRole" style="display: flex; gap: 12px; margin-top: 8px;">
                        <button mat-raised-button color="primary" (click)="add()">New Match</button>
                        <button mat-raised-button color="accent" (click)="settleRound()">Settle Round</button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Round</th>
                                    <th scope="col">Home Team</th>
                                    <th scope="col">Away Team</th>
                                    <!-- <th scope="col">Date</th> -->
                                    <th scope="col">
                                        Date
                                        <button mat-icon-button style="vertical-align: middle;"
                                            (click)="toggleDateSortOrder()" matTooltip="Order by date">
                                            <mat-icon>{{ dateSortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'
                                                }}</mat-icon>
                                        </button>
                                    </th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Prediction</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">
                                        Points Earned
                                        <button mat-icon-button style="vertical-align: middle;"
                                            (click)="toggleSortOrder()" matTooltip="Order by points">

                                            <mat-icon>{{ sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'
                                                }}</mat-icon>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let matchResponse of matchResponse">
                                    <td class="text-left">{{ matchResponse.round }}</td>
                                    <td class="text-left">{{ matchResponse.homeTeam }}</td>
                                    <td class="text-left">{{ matchResponse.awayTeam }}</td>
                                    <td class="text-left">{{ matchResponse.matchDate | date:'dd/MM/yyyy HH:mm':'America/Sao_Paulo' }}</td>
                                    <td class="text-left">{{ matchResponse.status }}</td>

                                    <td class="text-left">
                                        <ng-container *ngIf="matchResponse.prediction; else showEditPrediction">
                                            <div style="display: flex; align-items: center; gap: 8px;">
                                                <span>{{ matchResponse.prediction.homeTeam }} x {{
                                                    matchResponse.prediction.awayTeam }}</span>

                                                <button *ngIf="matchResponse.status === 'OPEN'" mat-button
                                                    color="accent" (click)="openEditBetDialog(matchResponse)">
                                                    Edit
                                                </button>
                                            </div>
                                        </ng-container>

                                        <ng-template #showEditPrediction>
                                            <button *ngIf="matchResponse.status === 'OPEN'" mat-button color="accent"
                                                (click)="openEditBetDialog(matchResponse)">
                                                Add
                                            </button>
                                        </ng-template>
                                    </td>

                                    <td class="text-left">
                                        <ng-container *ngIf="matchResponse.score; else showEdit">
                                             <div style="display: flex; align-items: center; gap: 8px;">
                                            <span>{{ matchResponse.score.homeTeam }}
                                            vs
                                            {{ matchResponse.score.awayTeam }}</span>
                                            <div *ngIf="hasAdminRole">
                                                <button mat-button
                                                        color="accent" (click)="openEditScoreDialog(matchResponse)">
                                                    Edit
                                                </button>
                                            </div>
                                            </div>
                                        </ng-container>
                                        <ng-template #showEdit>
                                            <div *ngIf="hasAdminRole">
                                                <button mat-button
                                                        color="accent" (click)="openEditScoreDialog(matchResponse)">
                                                    Add
                                                </button>
                                            </div>
                                        </ng-template>
                                    </td>
                                   <td class="text-center">{{matchResponse.pointsEarned}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>