<div class="panel-header panel-header-gp">

</div>
<div class="main-content" style="padding: 24px;">

    <div style="display: flex; flex-direction: column; gap: 24px; align-items: center;">
        <mat-card style="width: 100%; max-width: 100%;">
            <iframe style="background: #21313C;
        border: none; border-radius: 2px; box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                    width="100%" height="480"
                    src="https://charts.mongodb.com/charts-g12-jngvndg/embed/charts?id=088e8f27-ce1e-461c-9b1c-cba875895db1&maxDataAge=14400&theme=dark&autoRefresh=true">
            </iframe>
        </mat-card>

        <mat-card style="width: 100%; max-width:100%;">
            <iframe style="background: #FFFFFF; border: none; border-radius: 2px; box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                    width="100%" height="480"
                    src="https://charts.mongodb.com/charts-g12-jngvndg/embed/charts?id=aa9b22d6-314b-4d4d-b02c-0edb8ccdd111&maxDataAge=14400&theme=light&autoRefresh=true">
            </iframe>
        </mat-card>
    </div>

</div>
