<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">My Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="name">First Name</label>
                  <input type="text" id="name" class="form-control" disabled="" placeholder="First Name"
                    [value]="profile.firstName">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="lastname">Last Name</label>
                  <input type="text" id="lastname" class="form-control" disabled="" placeholder="Last Name"
                    [value]="profile.lastName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" id="username" class="form-control" disabled="" placeholder="Username"
                    [value]="profile.username">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" id="email" type="email" disabled="" class="form-control" placeholder="Email"
                    [value]="profile.email">
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description"                 
                  
                   [value]="profile.attributes?.description?.[0]">
                  </textarea>
                </div>
              </div> -->
            <!-- </div> -->
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/angular2-logo-red.jpeg" alt="...">
              <h5 class="title">{{profile.firstName}} {{profile.lastName}}</h5>
            </a>
            <p class="description">
              {{profile.firstName}} {{profile.lastName}}
            </p>
          </div>
          <!-- <p class="description text-center">
            "Software Developer
            <br> focused on server-side
            <br> over 12 years of experience"
          </p> -->
        </div>
        <hr>

      </div>
    </div>
  </div>
</div>